
VITE_SUPABASE_URL=https://ljgifhifmvwmoblpwbth.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxqZ2lmaGlmbXZ3bW9ibHB3YnRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxNTAxMjEsImV4cCI6MjA5MDcyNjEyMX0.JhGNy4AjPxZkl2ut3mKRy0xkr9SooMmcv7Tiqw6OVM4
